    @import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Jost", sans-serif;
    }

    html {
      font-size: 62.5%;
    }

    a {
      text-decoration: none;
    }

    li {
      list-style: none;
    }

    /* navbar style start  */
    .main-nav {
      width: 100%;
      height: 8rem;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
      /* padding: auto 10rem; */
      display: grid;
      grid-template-columns: 10rem 1fr 2fr 1fr 10rem;
      background-color: azure;
    }

    .logo {
      display: grid;
      grid-column: 2/3;
      /* background-color: antiquewhite; */
      justify-content: start;
      align-items: center;
    }

    .logo h2 {
      font-size: 2.5rem;
      font-weight: 400;
      text-transform: uppercase;
      background: -webkit-linear-gradient(#eee, rgb(63, 248, 57));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .logo h2 span {
      font-size: 3.5rem;
    }

    .menu-link {
      grid-column: 3/4;
      /* background-color: aquamarine; */
    }

    .menu-link ul {
      height: 10rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .menu-link ul li {
      font-size: 2rem;
      justify-content: space-evenly;
    }

    .menu-link ul li a {
      color: rgba(0, 0, 3, 0.8);
      transition: 0.5s;
    text-decoration: none;
    }
    .menu-link ul li:hover > a {
      transform-origin: left;
      color: rgba(0, 0, 3, 1);
      text-decoration: underline;
      transition: 0.5s;
    }

    .social-media {
      /* background-color: black; */
      grid-column: 4/5;
    }

    .social-media ul {
      height: 10rem;
      display: grid;
      grid-template-columns: 1fr repeat(3, 1fr);
      align-items: center;
    }

    .social-media ul li:first-child {
      grid-column: 2/3;
    }

    .social-media ul li {
      font-size: 1.8rem;
    }

    .social-media .hamburger-menu {
      display: none;
    }

    .facebook {
      color: #3b5998;
      height: 22px;
      width: 19px;
    }

    .instagram {
      color: #c32aa3;
      height: 22px;
      width: 19px;
    }

    .youtube {
      color: #ff0000;
      height: 22px;
      width: 19px;
    }
    .add_to_cart{
    color: #060315;
    height:30px;
    width: 30px;
    }

    /* hero section   */

    .hero-section {
      height: 80vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .hero-section p {
      font-size: 3rem;
      text-transform: capitalize;
    }

    .hero-section h1 {
      font-size: 5rem;
      text-transform: uppercase;
      text-align: center;
    }

    /* responsive css style  */
    @media (max-width: 1080px) {
      .main-nav {
        height: 8rem;
        grid-template-columns: 2rem 3fr 3fr 1fr 2rem;
      }

      .logo,
      .menu-link ul,
      .social-media ul {
        height: 8rem;
      }
    }

    /* responsive css style  */
    @media (max-width: 998px) {
      .main-nav {
        height: 7rem;
        grid-template-columns: 4rem 2fr 3fr 2rem 2rem;
      }

      .menu-link {
        display: none;
      }

      .logo,
      .social-media ul {
        height: 7rem;
      }

      .mobile-menu-link {
        grid-column: 2/4;
        position: relative;
        z-index: 99;
      }

      .mobile-menu-link {
        background-color: white;
        height: 20rem;
        display: grid;
        grid-column: 2/5;
        align-items: center;
        padding-left: 3rem;
        transition: all 2s linear;
        transform-origin: top;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
          rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
      }

      .mobile-menu-link ul {
        height: 20rem;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: start;
      }

      .mobile-menu-link ul li:first-child {
        transition-delay: 0.2s;
      }

      .social-media {
        grid-row: 1/2;
        grid-column: 3/5;
        justify-items: end;
        align-items: center;
        transition: all 2s linear;
      }

      .social-media .social-media-desktop {
        height: 0;
        display: none;
      }

      .social-media {
        height: 7rem;
        display: flex;
        justify-self: end;
        align-items: center;
      }

      .social-media .hamburger-menu {
        display: block;
        font-size: 2.5rem;
      }
    }

    @media (max-width: 798px) {
      .main-nav {
        height: 6rem;
        grid-template-columns: 1rem 2fr 1fr 1fr 1rem;
      }

      .logo,
      .social-media ul {
        height: 6rem;
      }

      .social-media {
        height: 6rem;
        display: flex;
        justify-self: end;
        align-items: center;
      }

      .social-media .hamburger-menu {
        display: block;
        font-size: 2.5rem;
      }
    }

    @media (max-width: 520px) {
      .main-nav {
        height: 6rem;
        grid-template-columns: 1rem 4fr 1fr 1fr 1rem;
      }

      .logo,
      .social-media ul {
        height: 6rem;
      }

      .logo h2 {
        font-size: 2rem;
      }

      .social-media {
        height: 6rem;
        display: flex;
        justify-self: end;
        align-items: center;
      }

      .social-media .hamburger-menu {
        display: block;
        font-size: 2.5rem;
      }

      /* hero section  */

      .hero-section h1 {
        font-size: 3.8rem;
      }
    }
    /* contact page style */

    .mainbox{
        
        height: 38rem;
        width: 38%;
        margin-left: 39rem;
        justify-items: center;
        box-sizing: border-box;
        border: 1px solid black;
        border-radius: 1rem;
        justify-content: center;
        text-align: center;
        display: flexbox;
        
    
    } 
    .form{
        padding: 2px;
    color: rgba(123, 12, 12, 0.679);
    font-size: 16px;
    font-weight: bold;
    height: 3rem;
    justify-content: start;
    font-family: 'Times New Roman', Times, serif;}

    .form input{
    width: 100%;
    height: 3rem;
    background-color: rgba(206, 167, 167, 0.03);
    font-size: 13px;
    border: none;
    text-align: center;

    }
    input.msg{
        height: 50px;
    }
    .form button{
    color: #060315;
    width: 100%;
    height: 4rem;
    font-size: 13px;
    font-family: fantasy;
    text-align: center;

    } 

    .loginmainbox{
    margin-top: 7rem;
      height: 27rem;
      width: 38%;
      margin-left: 39rem;
      justify-items: center;
      box-sizing: border-box;
      border: 1px solid black;
      border-radius: 1rem;
      justify-content: center;
      text-align: center;
      display: flexbox;
    }

    .main{
    display: flex;
    }
    /* cards style  */
    .product{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 3px;

    }
    .card{
    width: 18rem;
    margin-top: 1rem;
    }
    
.card:hover{
  background-color: rgba(159, 130, 130, 0.476);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

    .card-text{
    color: rgb(2, 24, 24);
    font-size: 12px;
    font-weight: bolder;
    }
    .card-size{
    color: grey;
    text-align: center;
    }

    button.btn.btn-primary{
    background-color: rgb(21, 0, 255);
    justify-items: center;
    width: 15rem;
    
}

.card-body{
text-align: center;
}
 /* badge styling */
h3{
 position: absolute;
  top: 2rem;
  content: attr(data-count);
  font-size: 10%;
  padding: -4.4em;
  border-radius: 310rem;
  line-height: 0.25em;
  color: white;
  background: rgba(255, 0, 0, 0.85);
  text-align: center;
  min-width: 1em;
  font-weight: bold;
  margin-left: 3rem;
}
button.btn.btn-primary:hover{
background-color: rgb(255, 0, 0);
font-size: 12px;

}

.homepageimage{
justify-content: center;
display: inline-block;}


.logbtn{
 
    background-color: #2540cb;
    border-radius: 8px;
    box-shadow: rgba(31, 119, 174, 0.2) 0 -25px 18px -14px inset,rgba(41, 57, 163, 0.15) 0 1px 2px,rgba(52, 79, 174, 0.15) 0 2px 4px,rgba(16, 26, 171, 0.15) 0 4px 8px,rgba(54, 37, 143, 0.15) 0 8px 16px,rgba(85, 68, 180, 0.15) 0 16px 32px;
    color:white;
    cursor: pointer;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 14px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 15px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .logbtn:hover {
    box-shadow: rgba(20, 35, 202, 0.35) 0 -25px 18px -14px inset,rgba(70, 74, 108, 0.25) 0 1px 2px,rgba(82, 59, 135, 0.25) 0 2px 4px,rgba(41, 38, 177, 0.25) 0 4px 8px,rgba(82, 34, 170, 0.25) 0 8px 16px,rgba(83, 35, 177, 0.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
    font-size: 12px;
    padding: 0px 10px;
  }
  .container.mt-2{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
   width: 50rem;
   height: 45rem;
   padding-top: 5rem;
   margin-top: 5rem;
  }

